

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.img-logos{
	height: auto;
	width: 140px;
	max-height: 140px;    
}

td {
	height: 100px;
    vertical-align: middle !important;
}















